// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 28%;
    margin-bottom: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.card-wrapper {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.release-date {
    text-align: right;
}

.card-img- {
    width: 100%;
    border-radius: 16px;
}

.card-upperinfo {
    height: 139px;
    overflow-y: scroll;
}

.movie-table{
    display: flex;
    margin: 20px 0;
    justify-content: space-around;
    border-bottom: solid 0.5px #ccc;
    padding-bottom: 10px;
}

.tab-button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 1.2rem;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : rgba(255, 255, 255, 0.10);     /* 背景色     */
  line-height   : 1em;         /* 1行の高さ  */
  border        : 2px solid rgba(255, 255, 255, 0.10);    /* 枠の指定 */
}

.tab-button:hover {
    color: #ccc;
}